* {
  margin: 0;
}
.header1 {
  height: 75px;
  background-color: black;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.header2 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  z-index: 10;
}


.header-element {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -10px;
  font-size: 15px;
  margin-bottom: 0;
  background-color: white;
}


.h1 {
  background-color: rgb(218, 218, 218);
}

.section-1 {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-family: Arial;
  font-weight: bold;
  width: 90%;
  background-color: rgb(255, 255, 255);
  height: 5000px;
  margin-top: -40px;
  flex-direction: column;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  width: 100%;
  align-items: center;
}

.slideshow-element, .mySlides {
  width: 100%;
  margin: 20px;
  object-fit: cover;
  transition: all 0.2s;
}

.section-2 {
  margin: 20px;
  width: 90%;
}

.section-title {
  display: flex;
  align-items: start;
}

.section-title h4 {
  width: 100px;

  margin-bottom: 10px;
}

.section-title li { 
  margin-left: -10px;
}

.grid-container, .adidas-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(1, 180px);
  gap: 10px;
}

.square {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

.product-image {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  height: 100%;
}



.product-title, .product-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin: 10px;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.product-title {
  font-weight: bolder;
}

.product-price {
  display: flex;
  flex-direction: row;

}

.product-price div {
  margin-left: 5px;
  color: red;
}

.product-details {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 55px;
}

.product-details button {
  width: 100%;
  margin: 5px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.product-details button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.slideshow, .slideshow-container {
  width: 100%;
  margin: 0px;
  padding: 0;
  margin-left: -20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  transition: opacity 1s ease-in-out;
}

.mySlides img {
  width: 100%;
  height: auto;
  margin-left: -20px;
}

.mySlides {
display: none;
transition: opacity 1s ease-in-out;
}

.section-title {
margin: 20px;
}

.h1 {
background-color: rgb(218, 218, 218);
}

@media screen and (max-width: 500px) {
  .header1 {
    height: 75px;
    background-color: black;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .header2 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    z-index: 10;
  }

  
  .header-element {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -10px;
    font-size: 15px;
    margin-bottom: 0;
    background-color: white;
  }

  
  .h1 {
    background-color: rgb(218, 218, 218);
  }
  
  .section-1 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-family: Arial;
    font-weight: bold;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 5000px;
    margin-top: -40px;
    flex-direction: column;
  }

  .main-page {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width: 100%;
    align-items: center;
  }

  .slideshow-element, .mySlides {
    width: 100%;
    margin: 20px;
    object-fit: cover;
    transition: all 0.2s;
  }

  .section-2 {
    margin: 20px;
    width: 90%;
  }

  .section-title {
    display: flex;
    align-items: start;
  }

  .section-title h4 {
    width: 100px;

    margin-bottom: 10px;
  }

  .section-title li { 
    margin-left: -10px;
  }

  .grid-container, .adidas-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 180px);
    gap: 10px;
  }

  .square {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
  }

  .product-image {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-image img {
    height: 100%;
  }



  .product-title, .product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: 10px;
    text-align: center;
    font-size: 10px;
  }

  .product-title {
    font-weight: bolder;
  }

  .product-price {
    display: flex;
    flex-direction: row;

  }

  .uhl  {
    background-color: white;
  }
  
  .hl {
    background-color: rgb(218, 218, 218);
  }
  
  .header-element a {
    width: 100%;
    height: 100%;
  }

  .product-price div {
    margin-left: 5px;
    color: red;
  }

  .product-details {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 55px;
  }

  .product-details button {
    width: 100%;
    margin: 5px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .product-details button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  .slideshow, .slideshow-container {
    width: 100%;
    margin: 0px;
    padding: 0;
    margin-left: -20px;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    transition: opacity 1s ease-in-out;
}

.mySlides img {
    width: 100%;
    height: auto;
    margin-left: -20px;
}

.mySlides {
  display: none;
 transition: opacity 1s ease-in-out;
}

.section-title {
  margin: 20px;
}

.h1 {
  background-color: rgb(218, 218, 218);
}

.more {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.more a {
  text-decoration: none;
}

.header2 p a {
  text-decoration: none;
  width: auto;
  color: black;
  width: 100%;
  text-align: center;
}

.product-title {
  margin: 0;
}

}

.more a {
  text-decoration: none;
}

.header2 p a {
  text-decoration: none;
  width: auto;
  color: black;
  width: 100%;
  text-align: center;
}

.more {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.more a {
  text-decoration: none;
}

.header2 p a {
  text-decoration: none;
  width: auto;
  color: black;
  width: 100%;
  text-align: center;
}

.product-title {
  margin: 0;
}

.uhl  {
  background-color: white;
}

.hl {
  background-color: rgb(218, 218, 218);
}

.header-element a {
  width: 100%;
  height: 100%;
}